fastapi
uvicorn
langchain
chromadb
pypdf2
pdfplumber
unstructured
pymupdf
python-pptx
python-docx
sentence-transformers
pydantic
httpx
python-multipart
langchain-community
requests
pytesseract
opencv-python
pillow
numpy
pdf2image>=1.16.0
torch
mistralai 